@use "styles/variables" as *;
.grid {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  text-align: left;
  padding: 1rem;
  background: $background;
}
