@use "styles/variables" as *;
.wrapper {
  padding: 6rem 1rem;
}

.grid {
  grid-column-start: 1;
  grid-column-end: 14;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  margin: 0 -1rem;
}

.card {
  @include type-style("heading-03");
  position: relative;
  display: block;
  padding: 1rem;
  padding-bottom: 50%;
  background: $layer-01;
  transition: background 0.2s ease;

  &:hover {
    background: $layer-hover-01;
  }
}

.heading {
  @include type-style("heading-04");
  grid-column: 1 / -1;
  margin-bottom: 3rem;
  font-weight: bold;
}

.icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@include breakpoint-down("md") {
  .grid {
    grid-column-end: 16;
    width: 100vw;
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
