@use "styles/variables" as *;

.wrapper {
  margin: 6rem auto;
}

.left {
  grid-column-start: 1;
  grid-column-end: 8;
}

.right {
  grid-column-start: 9;
  grid-column-end: 17;
}

.image {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.heading {
  @include type-style("heading-04");
  width: 90%;
  margin-bottom: 2rem;
  grid-column: 1 / 10;
}

.listItem {
  padding: 0;
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.listItem p {
  @include type-style("heading-04");
  font-weight: 300;
  font-size: 24px;
}

.iconWrapper {
  min-width: 48px;
  height: 48px;
  width: 48px;
  margin-right: 2rem;
}

.icon {
  width: 100%;
  height: 100%;
  fill: $icon-secondary;
}
