@use "styles/variables" as *;

.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  isolation: isolate;
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWrapper {
  height: 100%;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

.grid.grid {
  z-index: 1;
  padding-bottom: 0;
  padding-right: 0;
}

.title {
  @include type-style("heading-05");
  padding: 1rem;
  background: $background;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 7;
}

.cta {
  background: $background;
  grid-column-start: 7;
  grid-column-end: 17;
  display: flex;
  flex-direction: column;
}

.pitch {
  @include type-style("heading-04");
  padding: 1rem;
  margin-bottom: 3rem;
  height: 50%;
  padding-right: 3rem;
  display: block;
}

.actions {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.action {
  border: none;
  color: currentColor;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
  height: 100%;
  background: $layer-01;
  &:hover {
    background: $layer-hover-01;
    cursor: pointer;
  }
}

.primary {
  background: $blue-60;
  &:hover {
    background: $blue-50;
  }
}

.arrow {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.label {
  @include type-style("body-long-01");
  margin-bottom: 3rem;
}

.heading {
  @include type-style("heading-03");
}

@include breakpoint-down("md") {
  .container {
    padding-top: 200px;
    height: auto;
  }

  .pitch {
    padding-right: 2rem;
  }

  .grid.grid {
    padding: 0;
  }

  .cta {
    @include type-style("heading-03");
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .actions {
    flex-direction: column;
  }
  .action {
    width: calc(100% - 1rem);
  }
}
