// @use "@carbon/react/scss/spacing" as *;
// @use "@carbon/react/scss/breakpoint" as *;
// @use "@carbon/react/scss/themes" as *;
// @use "@carbon/react/scss/theme" as * with($theme: $g90);
// @use "@carbon/type";
@use "styles/variables" as *;

.wrapper {
  padding: 6rem 0;
  background: red;
}

.wrapper > div {
  background: red;
}

.left {
  grid-column-start: 1;
  grid-column-end: 7;
}
.right {
  grid-column-start: 7;
  grid-column-end: -1;
}
.heading {
  @include type-style("heading-04");
  font-weight: bold;
}

.body {
  @include type-style("heading-04");
  margin-top: 1em;
  font-weight: 300;
}

.body a {
  display: block;
  margin-top: 2rem;
  text-decoration: underline;
  @include type-style("heading-03");
}

@include breakpoint-down("md") {
  .wrapper {
    padding: 3rem 0;
  }

  .left,
  .right {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .heading {
    @include type-style("heading-03");
  }

  .body,
  .body a {
    @include type-style("body-02");
  }

  .right {
    margin-top: 2rem;
  }
}
