@use "styles/variables" as *;

.wrapper {
  padding: 6rem 1rem;
}

.left {
  padding-left: 1rem;
  grid-column-start: 1;
  grid-column-end: 7;
}
.right {
  grid-column-start: 7;
  grid-column-end: -1;
}

.heading {
  @include type-style("heading-04");
  font-weight: bold;
}

.body * {
  @include type-style("heading-04");
}

.body p {
  margin-top: 1em;
  font-weight: 300;
}

.body a {
  display: block;
  margin-top: 3rem;
  text-decoration: underline;
}

.body ul {
  list-style: disc inside;

  li {
    margin-left: $spacing-06;
  }

  li:first-of-type {
    margin-top: $spacing-05;
  }
}

@include breakpoint-down("md") {
  .wrapper {
    padding: 3rem 1rem;
  }

  .left {
    display: none;
  }

  .right {
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .heading {
    font-size: 24px;
  }

  .body,
  .body a {
    @include type-style("body-02");
  }
}
